__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

env/
venv/
.venv/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

.git/
.gitignore

dist/
build/
.cache/
.mypy_cache/
.pytest_cache/

node_modules/
npm-debug.log
yarn-error.log

.env
.env.*
